@{
    ViewBag.Title = "Home Page";
}
<div id="title">
    <p id="title_text"> 教育科技展實境闖關遊戲 </p>
    <p id="name"> 參與者：郭尚蓁 </p>
</div>

<div class="first_line">
    <div>
        <a href='@Url.Action("Photo",new { vendorId="A"})'>
            <img src="img/logo.jpg" id="first_head">
        </a>
        <p id="first_name"> 廠商 A </p>
    </div>

    <div>
        <!-- <img src="img/logo.jpg" alt="head" id="second_head"> -->
        <a href='@Url.Action("Photo",new { vendorId="B"})'>
            <img src="img/logo.jpg" id="second_head">
        </a>
        <p id="second_name"> 廠商 B </p>
    </div>

    <div>
        <!-- <img src="img/logo.jpg" alt="head" id="third_head"> -->
        <a href='@Url.Action("Photo",new { vendorId="C"})'>
            <img src="img/logo.jpg" id="third_head">
        </a>
        <p id="third_name"> 廠商 C </p>
    </div>

    <div>
        <!-- <img src="img/logo.jpg" alt="head" id="fourth_head"> -->
        <a href='@Url.Action("Photo",new { vendorId="D"})'>
            <img src="img/logo.jpg" id="fourth_head">
        </a>
        <p id="fourth_name"> 廠商 D </p>
    </div>
</div>

<div class="second_line">
    <div>
        <!-- <img src="img/logo.jpg" alt="head" id="fifth_head"> -->
        <a href='@Url.Action("Photo",new { vendorId="E"})'>
            <img src="img/logo.jpg" id="fifth_head">
        </a>
        <p id="fifth_name"> 廠商 E </p>
    </div>

    <div>
        <!-- <img src="img/logo.jpg" alt="head" id="sixth_head"> -->
        <a href='@Url.Action("Photo",new { vendorId="F"})'>
            <img src="img/logo.jpg" id="sixth_head">
        </a>
        <p id="sixth_name"> 廠商 F </p>
    </div>

    <div>
        <!-- <img src="img/logo.jpg" alt="head" id="seventh_head"> -->
        <a href='@Url.Action("Photo",new { vendorId="G"})'>
            <img src="img/logo.jpg" id="seventh_head">
        </a>
        <p id="seventh_name"> 廠商 G </p>
    </div>

    <div>
        <!-- <img src="img/logo.jpg" alt="head" id="eighth_head"> -->
        <a href='@Url.Action("Photo",new { vendorId="H"})'>
            <img src="img/logo.jpg" id="eighth_head">
        </a>
        <p id="eighth_name"> 廠商 H </p>
    </div>
</div>